html{
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
  font-size: 15px;
}
.sidebar{
  width: 10%;
  height: 600px;
  border-radius: 10px;
  position: fixed;
  margin-left: 10%;
  padding-left:50px;
  margin-right: 5%;
  background-color: #0983C7;
}
.title{
  margin-top: 1em;
}
.title a{
  color: #333;
}
ul{
  list-style: none;
  padding-left: 0px;
  color: #ccc;
}
ul > li{
  margin-top: 0.5em;
  font-size: 1.1em;
  color: #fff;
}
ul > li a{
  color: #fff;
}
a{
  text-decoration: none;
}
.container .upload-panel{
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}
.container .list-panel{
  margin-left: 30%;
}
.field{
  margin-bottom: 2em;
}
.field input{
  height: 2.2em;
  width: 200px;
  border-radius: 4px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #555;
}
#pick-images{
  background-color: #0983C7;
  color: #fff;
  margin-bottom: 3em;
  text-align: center;
  line-height: 40px;
}
#toast {
  position: fixed;
  z-index: 5000;
  width: 15em;
  min-height: 4em;
  top: 180px;
  left: 46%;
  margin-left: -3.8em;
  background: rgba(17, 17, 17, 0.7);
  text-align: center;
  border-radius: 5px;
  color: #FFFFFF;
}
#toast p{
  padding: 0px 15px 0px 15px;
  font-size: 0.9em;
}
.submit input{
  width: 100px;
  height: 50px;
  font-size: 50px;
}

#upload-button{
  position: absolute;
  padding-left: 40px;
  bottom: 2em;
  left: 0px;
  right: 0px;
}

#upload-button a{
  color: #fff;
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  background-color: rgba(255, 204, 205, 0.6)
}
.item{
  float: left;
  background-color: rgba(255, 204, 204, 0.6);
  border-radius: 2px;
  margin-top: 1em;
  margin-right: 2em;
  padding: 8px 8px;
}
.item .desc{
  border-radius: 4px;
  height: 65px;
}
.item .desc p{
  background-color: #fff;
  padding-left: 0.5em;
  color: #555;
  margin: 0 0;
}
.paginator{
  position: absolute;
  bottom: 10em;
  left: 50%;
  text-align: center;
  clear:both;
}
.pagination{
  margin-top: 3em;
  text-align: center;
  padding: 1em;
}
.pagination a{
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 0.2em 0.4em;
  color:#0063dc;
}
.tag-name{
  color: #3300CC;
  font-weight: bold;
  font-size: 1.1em;
}
.tag-name input{
  border-radius: 4px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #555;
}
input[type='text']:focus{
  border-color: rgba(0, 0, 255, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}
.title h1{
  margin: 0 0;
}
.hover{
  color: rgba(255, 0, 0, 0.5);
}
